{% extends 'base.html' %}
{% load static %}
{% load subtract %}
{% load humanize %}

{% block "page_header" %}{{ application.full_name }}{% endblock %}

{% block "content" %}

<div class="profile-banner" style="background-image: url({% static 'dashboard/images/stock/1epgUO0.jpg' %});">
    <div class="col-sm-3 avatar-container">
      {% if application.image %}
        <img src="{{ application.image.url }}" class="img-circle profile-avatar" height="200px" width="200px" alt="User avatar">
      {% else %}
        <img src="{% static 'dashboard/images/users/default-user.png' %}" class="img-circle profile-avatar" height="200px" width="200px" alt="User avatar">
      {% endif %}
    </div>
</div>
<div class="content">
    <div class="row">
        <div class="col-sm-3">
            <!-- Begin user profile -->
            <div class="text-center user-profile-2">
                <h4><b>{{ application.full_name }}</b></h4>
                
                <h5><b>Application Branch - </b>{{ application.branch }}</h5>
                <ul class="list-group">
                  <li class="list-group-item">
                    Applicatio Date - {{ application.application_date }}
                  </li>
                  <li class="list-group-item">
                    {% if application.succeed == 'approved' %}
                      <span class="label label-success"><b>Approved</b></span>
                    {% elif application.succeed == 'rejected' %}
                      <span class="label label-danger"><b>Rejected</b></span>
                    {% else %}
                      <span class="label label-warning"><b>In Process</b></span>
                    {% endif %}
                  </li>
                </ul>
                    
            </div>
            <!-- Begin user profile -->
        </div>
        
        <div class="col-sm-9">
            <div class="widget widget-tabbed">
                <!-- Nav tab -->
                <ul class="nav nav-tabs nav-justified">
                  <li class="active"><a href="#about" data-toggle="tab"><i class="fa fa-user"></i> About</a></li>
                  <li><a href="#user-activities" data-toggle="tab"><i class="fa fa-money"></i> Payments</a></li>
                  <li><a href="#mymessage" data-toggle="tab"><i class="fa fa-file-text-o"></i> Application Status</a></li>
                </ul>
                <!-- End nav tab -->

                <!-- Tab panes -->
                <div class="tab-content">
                  <!-- Tab about -->
                  <div class="tab-pane animated active fadeInRight" id="about">
                    <div class="user-profile-content">
                      <h5><strong>Description</strong></h5>
                      <p>
                        {% if application.description %}
                          {{ application.description }}
                        {% else %}
                          ......................................
                        {% endif %}
                      <hr />
                      <div class="row">
                        <div class="col-sm-6">
                          <h5><strong>CONTACT</strong></h5>
                            <address>
                              <strong>Phone</strong><br>
                              <p>{{ application.mobile_number }}</p>
                            </address>
                            <address>
                              <strong>Email</strong><br>
                              <a href="mailto:#">{{ application.email }}</a>
                            </address>
                            <address>
                              <strong>Address</strong><br>
                              <p>{{ application.address }}</p>
                            </address>
                        </div>
                        <div class="col-sm-6">
                          <h5><strong>Application Info</strong></h5>
                          <p><b>File Number</b> - {{ application.file_number }}</p>
                          {% if application.uic_number %}
                            <p><b>Uic Number</b> - {{ application.uic_number }}</p>
                          {% else %}
                          <p><b>Uic Number</b> - .................</p>
                          {% endif %}
                          <p><b>Case Type</b> - {{ application.case_type }}</p>
                          <p><b>Country</b> - {{ application.countery_for_apply }}</p>
                          <p><b>Qualification</b> - {{ application.qualification }}</p>
                          <p><b>Experience</b> - {{ application.experience }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Tab about -->
                  
                  
                  <!-- Tab user activities -->
                  <div class="tab-pane animated fadeInRight" id="user-activities">
                    <div class="scroll-user-widget">
                      <ul class="media-list">
                        {% if application.total_fees %}
                            <li class="media">
                              <a href="#fakelink">
                                <p><strong>Total Fees - </strong><strong>INR {{ application.total_fees|intcomma }}</strong><hr>
                                {% for payment in object.payment_set.all %}
                                  <p><strong>Payment Amount - </strong> INR {{ payment.amount|intcomma }}</p>
                                  <p><strong>Payment Date - </strong>{{ payment.payment_date|date:"M d, Y"  }}</p>
                                  {% if request.user.is_superuser %}
                                    <a href="{% url 'delete-payment' pk=payment.id %}" data-toggle="tooltip" title="Delete" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i></a>
                                    <a href="{% url 'edit-payment' pk=payment.id %}" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-edit"></i></a>
                                  {% else %}
                                  {% endif %}
                                  <hr>
                                {% endfor %}
                                <p><strong>Total Payment - </strong><strong>INR {{ total_payment.amount__sum|intcomma }}</strong><hr>
                                {% if total_payment.amount__sum %}
                                  <p><strong>Pending Payment - </strong><strong>INR {{ application.total_fees|subtract:total_payment.amount__sum|intcomma }}</strong>
                                {% else %}
                                  <p><strong>Pending Payment - </strong><strong>INR {{ application.total_fees|subtract:0|intcomma }}</strong>
                                {% endif %}
                              </a>
                            </li>
                        {% else %}
                            <li class="media">
                              <a href="#fakelink">
                              <p><strong>Total Fees - </strong><strong>INR ..............</strong>
                              {% for payment in object.payment_set.all %}
                                <p><strong>Payment Amount - </strong>INR {{ payment.amount|intcomma }}</p>
                                <p><strong>Payment Date - </strong>{{ payment.payment_date|date:"M d, Y"  }}</p>
                                <hr>
                              {% endfor %}
                              <p><strong>Total Payment - </strong><strong>INR {{ total_payment.amount__sum|intcomma }}</strong><hr>
                              </a>
                            </li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                  <!-- End Tab user activities -->
                  
                  <!-- Tab user messages -->
                  <div class="tab-pane animated fadeInRight" id="mymessage">
                    <div class="scroll-user-widget">
                      <ul class="media-list">
                          <li class="media">
                            <div class="media-body">
                              <h4 class="media-heading">Estimated remaining processing time: <b>{{ application.estimated_time }}</b></h4>
                              <p>Application received: {{ application.application_date }}</p>
                              <p>Estimated completion date: {{ application.estimate_compleation_date }}</p>
                              <div class="progress no-rounded">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="60" style="width: {{ application.time_progress }}%">
                                  {{ application.time_progress }}%
                                </div>
                              </div>
                            </div>
                          </li>
                      </ul>
                    </div>
                  </div>
                  <!-- End Tab user messages -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}